[submodule "answers"]
	path = answers
	url = https://gist.github.com/cfreshman/a03ef2cba789d8cf00c08f767e0fad7b
[submodule "valid"]
	path = valid
	url = https://gist.github.com/cfreshman/cdcdf777450c5b5301e439061d29694c
